<h1 class="title">TaskManager</h1>

<h2 style="cursor: pointer" (click)="toggleNewTopic()">New Topic +</h2>
<input
  *ngIf="showNewTopicInput"
  [(ngModel)]="newTopic"
  (keydown.enter)="addTopic(newTopic); newTopic = ''"
  aria-label="New topic name"
  placeholder="Topic Name"
/>

<h2 (click)="toggleTopicsList()">Topics</h2>
<input type="text" placeholder="Search Topics" [(ngModel)]="searchTerm" aria-label="Search topics" />
<div class="topic-list" *ngIf="showTopics">
  <p *ngIf="filteredTopics.length === 0">No Topics</p>
  <div
    *ngFor="let topic of filteredTopics"
    class="topic"
    [class.selected]="topic.id === selectedTopic"
    (click)="selectTopic(topic.id)"
    [title]="topic.name"
  >
    {{ topic.name }}
  </div>
</div>
