<h1 class="title">TaskManager</h1>

<h2 style="cursor: pointer" (click)="toggleNewTopic()">New Topic +</h2>
<input
  *ngIf="showNewTopicInput"
  [(ngModel)]="newTopic"
  (keydown.enter)="addTopic(newTopic); newTopic = ''"
  placeholder="Topic Name"
/>

<h2 (click)="toggleTopicsList()">Topics</h2>
<div class="topic-list" *ngIf="showTopics">
  <input type="text" placeholder="Search Topics" [(ngModel)]="searchTerm" />
  <p *ngIf="filteredTopics.length === 0">No Topics</p>
  <div
    *ngFor="let topic of filteredTopics"
    class="topic"
    [class.selected]="topic.id === selectedTopic"
    (click)="selectTopic(topic.id)"
  >
    <p>{{ topic.name }}</p>
  </div>
</div>
