input {
  background-color: #e1e8e1;
  width: 90%;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  font-size: medium;
  color: var(--main-background-color);
  padding-left: 10px;
}

button {
  background-color: var(--primary);
  border-style: none;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: var(--main-background-color);
  font-size: 30px;
  text-align: center;
}

.title {
  padding-bottom: 5px;
  border-bottom: none;
  color: #054c23;
}

.topic-list {
  flex: 1;
  min-height: 0;
  max-height: max-content;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  scrollbar-width: 10px;
  scrollbar-color: #c0c0c0 transparent;
}

.topic-list::-webkit-scrollbar {
  width: 8px;
}

.topic-list::-webkit-scrollbar-track {
  background: transparent;
}

.topic-list::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 5px;
}

.topic {
  width: 90%;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s;
  font-size: 20px;
  color: #fff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topic:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.topic.selected {
  background-color: #e1e8e1;
  color: #054c23;
}

h1,
h2 {
  color: #054c23;
  padding-bottom: 5px;
  border-bottom: 2px #054c23 solid;
}
