<div *ngIf="selectedTopic?.id !== -1; else noTopic">
  <h1>{{ selectedTopic.name }}</h1>

  <div class="checklist">
    <ng-container
      *ngIf="selectedTopic.checkList.length > 0; else emptyChecklist"
    >
      <div class="checklist-item" *ngFor="let item of selectedTopic.checkList">
        <span>{{ item.text }}</span>
        <input
          type="checkbox"
          [checked]="item.done"
          (change)="toggleItem(selectedTopic.id, item.id)"
        />
      </div>
    </ng-container>

    <ng-template #emptyChecklist>
      <h3>No Items In Checklist</h3>
    </ng-template>

    <input
      type="text"
      placeholder="Add Item"
      #addItem
      (keydown.enter)="
        addCheckListItem(selectedTopic.id, addItem.value); addItem.value = ''
      "
    />
  </div>
</div>

<ng-template #noTopic>
  <h1>Add New Topic</h1>
  <input
    type="text"
    placeholder="Add Topic"
    #topic
    (keydown.enter)="addTopic(topic.value); topic.value = ''"
  />
</ng-template>
