:root {
  --main-background-color: #444644;
  --menu-background-color: #538051;
  --primary: #3be038;
  --text--color: #fff;
}

* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: var(--main-background-color);
  padding: 0%;
}

.menu {
  background-color: var(--menu-background-color);
  float: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  padding: 20px;
  flex-shrink: 0;
}

.content {
  width: 80%;
  background-color: var(--menu-background-color);
  margin: 40px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

button {
  background-color: var(--primary);
  border-style: none;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  color: var(--main-background-color);
  font-size: large;
}
